<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/flat-ui-official/css/flat-ui.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css">
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <link rel="icon" href="icon.png" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.min.js"></script>
    <script src="bower_components/less/dist/less-1.7.3.min.js"></script>
    <script src="charts.js"></script>
    <script src="app.js"></script>
    <title>Dressing Gown</title>
</head>

<body ng-app="gown" ng-controller="intro" class="container-fluid" id="gown">
    <nav role="navigation" class="text-center">
        <h1><img src="icons/logo.png" /></h1>
        <h2>Dressing Gown</h2>
        <h6>like Kimono, but cozier&hellip;</h6>
    </nav>
    <hr>
    <section ng-hide="urlDone">
        <form ng-submit="urlDone = true; connect()" id="urlForm">
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="apiId" placeholder="API ID" rows="3">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" ng-model="apiKey" placeholder="API KEY" rows="3">
            </div>
            <hr>
            <div class="text-center">
                <button class="btn btn-primary" ng-disabled="!apiId || !apiKey">
                    <span class="fa fa-fw fa-arrow-right"></span>
                </button>
            </div>
        </form>
    </section>
    <section ng-show="urlDone">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9">
                        <div id="title">
                            <input type="text" placeholder="Chart title" class="form-control" ng-model="title" ng-blur="drawChart()" />
                        </div>
                        <div id="chart" style="width: 600px; height: 360px; margin-left: auto; margin-right: auto;"></div>
                        <div id="label">
                            <div>
                                <ul id="label-list" class="droppable list-unstyled"></ul>
                            </div>
                            <div id="label-name">
                                <input type="text" placeholder="X Axis Label" class="form-control" ng-model="xaxis" ng-blur="drawChart()"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="Y Axis Label" class="form-control" ng-model="yaxis" ng-blur="drawChart()">
                        <ul id="values-list" class="droppable list-unstyled"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="collection">
                <div class="text-center graph-buttons well">
                    <button class="btn btn-default {{type=='bar' ? 'btn-primary' : ''}}" type="button" ng-click="type='bar';drawChart()">
                        <img src="icons/bar.png" style="width:16px" />
                    </button>
                    <button class="btn btn-default {{type=='scatter' ? 'btn-primary' : ''}}" type="button" ng-click="type='scatter';drawChart()">
                        <img src="icons/scatter.png" style="width:16px" />
                    </button>
                    <button class="btn btn-default {{type=='line' ? 'btn-primary' : ''}}" type="button" ng-click="type='line';drawChart()">
                        <img src="icons/line.png" style="width:16px" />
                    </button>
                    <button class="btn btn-default {{type=='pie' ? 'btn-primary' : ''}}" type="button" ng-click="type='pie';drawChart()">
                        <img src="icons/pie.png" style="width:16px" />
                    </button>
                    <button class="btn btn-default {{type=='donut' ? 'btn-primary' : ''}}" type="button" ng-click="type='donut';drawChart()">
                        <img src="icons/donut.png" style="width:16px" />
                    </button>
                </div>
                <ul class="well list-unstyled">
                    <li ng-repeat="(name, objects) in collections">
                        {{ name }}
                        <ul class="collections" id="collection_{{name}}">
                            <li ng-repeat="(property, value) in objects[0]"
                                class="property"
                                data-parent="collection_{{name}}"
                                data-collection="{{ name }}"
                                data-value="{{ value }}"
                                data-property="{{ property }}">
                                {{ property }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <hr>
        <div class="text-center">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="urlDone = false">
                    <span class="fa fa-fw fa-arrow-left"></span>
                </button>
                <button class="btn btn-primary" ng-click="share()">
                    <span class="fa fa-fw fa-share"></span>
                </button>
            </div>
        </div>
    </section>
</body>

</html>
