<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/flat-ui-official/css/flat-ui.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css">
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <link rel="icon" href="icon.png" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.min.js"></script>
    <script src="bower_components/less/dist/less-1.7.3.min.js"></script>
    <script src="charts.js"></script>
    <script src="app.js"></script>
    <title>kimono graphs &mdash; Graph the web</title>
</head>

<body ng-app="gown" ng-controller="intro" id="gown"
      ng-class="{image: !urlDone, 'container-fluid': true}">
    <div class="placer" ng-hide="urlDone">
        <nav role="navigation" class="text-center">
            <img src="icons/logo.png" id="logo" />
            <h2 class="title">kimono graphs</h2>
            <h6 class="sub-title">Graph the web.</h6>
        </nav>
        <section ng-hide="urlDone">
            <form ng-submit="urlDone = true; connect()" id="urlForm">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" ng-model="apiId" placeholder="API ID" rows="3">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" ng-model="apiKey" placeholder="API KEY" rows="3">
                </div>

                <div class="text-right">
                    <button class="btn btn-primary btn-entry" ng-disabled="!apiId || !apiKey">
                        Start
                    </button>
                </div>
            </form>
        </section>
    </div>
    <div id="credits">
        Made with <span class="fa fa-fw fa-heart"></span> in California by
        <a href="http://github.com/tlwr">tlwr</a>,
        <a href="http://github.com/dellsystem">dellsystem</a>,
        <a href="http://github.com/shrig94">shrig94</a>, and
        <a href="http://github.com/vasu">vasu</a>
    </div>
    <nav role="navigation" class="text-center" ng-show="urlDone">
        <h1>kimono graphs</h1>
    </nav>
    <section ng-show="urlDone">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9">
                        <div id="title">
                            <input type="text" id="titleInput" placeholder="Chart title" class="form-control input-vasu" ng-model="title" ng-blur="drawChart()" />
                        </div>
                        <div id="chart" ng-show="dirty" style="width: 600px; height: 360px; margin-left: auto; margin-right: auto; border-radius: 2px; border-color: white;"></div>
                        <div ng-hide="dirty" style="width: 600px; height: 360px; margin-left: auto; margin-right: auto; border-radius: 2px; border-color: white; display: flex; flex-direction: column; justify-content: center; align-items:center;" id="pre-message">
                            <h2>Waiting for Chart Inputs.</h2>
                            <h4>Drag and Drop <span class="fa fa-fw fa-arrow-right"></span></h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="Y Axis Label" class="form-control input-vasu" ng-model="yaxis" ng-blur="drawChart()">
                        <ul id="values-list" class="droppable list-unstyled"></ul>
                        <input type="text" placeholder="X Axis Label" class="form-control input-vasu" ng-model="xaxis" ng-blur="drawChart()" />
                        <ul id="label-list" class="droppable list-unstyled"></ul>
                    </div>
                    <button style="display:none;" id="dirtybutton" ng-click="dirty = !dirty"></button>
                </div>
            </div>
            <div class="col-md-3" id="collection">
                <div class="text-center graph-buttons well">
                    <button class="btn btn-controls {{type=='bar' ? 'btn-primary' : ''}}" type="button" ng-click="type='bar';drawChart()">
                        <img src="icons/bar.png" style="width:16px" />
                    </button><button class="btn btn-controls {{type=='scatter' ? 'btn-primary' : ''}}" type="button" ng-click="type='scatter';drawChart()">
                        <img src="icons/scatter.png" style="width:16px" />
                    </button><button class="btn btn-controls {{type=='line' ? 'btn-primary' : ''}}" type="button" ng-click="type='line';drawChart()">
                        <img src="icons/line.png" style="width:16px" />
                    </button><button class="btn btn-controls {{type=='donut' ? 'btn-primary' : ''}}" type="button" ng-click="type='donut';drawChart()">
                        <img src="icons/donut.png" style="width:16px" />
                    </button><button class="btn btn-controls {{type=='spline' ? 'btn-primary' : ''}}" type="button" ng-click="type='spline';drawChart()">
                        <img src="icons/line.png" style="width:16px" />
                    </button><button class="btn btn-controls {{type=='area-spline' ? 'btn-primary' : ''}}" type="button" ng-click="type='area-spline';drawChart()">
                        <img src="icons/area.png" style="width:16px" />
                    </button>
                </div>
                <ul class="well list-unstyled">
                    <li ng-repeat="(name, objects) in collections">
                        {{ name }}
                        <ul class="collections list-unstyled text-center" id="collection_{{name}}">
                            <li ng-repeat="(property, value) in objects[0]" class="property" data-parent="collection_{{name}}" data-collection="{{ name }}" data-value="{{ value }}" data-property="{{ property }}">
                                {{ property }}
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="text-center">
                    <button class="btn btn-primary btn-controls" ng-click="urlDone = false">
                        Back
                    </button><button class="btn btn-primary btn-controls" ng-click="share()">
                        Export
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
