<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Dressing Gown</title>
</head>

<body ng-app="gown" ng-controller="intro" class="container-fluid">
    <section ng-hide="urlDone">
        <input type="text" ng-model="url"/>
        <hr>
        <button ng-click="urlDone = true" ng-disabled="url == ''">Next</button>
    </section>
    <section ng-show="urlDone && (!graphDone)">
        <button ng-click="graph='bar'">
            Bar
        </button>
        <button ng-click="graph='scatter'">
            Scatter
        </button>
        <button ng-click="graph='line'">
            Line
        </button>
        <button ng-click="graph='pie'">
            Pie
        </button>
        <hr>
        <button ng-click="urlDone = false">
            Previous
        </button>
        <button ng-click="graphDone = true" ng-disabled="graph == ''">
            Next
        </button>
    </section>
    <section ng-show="urlDone && graphDone">
        drag and drop stuff
    </section>
    <hr>
    <pre>
    {{url}}
    {{graph}}
    </pre>
</body>

</html>