.graph-buttons img{
    margin: 10px;
}

.graph-buttons .btn-primary img {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.btn *{
    margin: 10px
}

#graphDrop {
    border-width: 0px;
    border-style: solid;
    border-color: #bbbbbb;
    border-left-width: 1px;
    border-bottom-width: 1px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#graphDrop h4 {
    color: #bbbbbb;
}